/*------------------------------------------------BODY-----------------------------------------------------*/

body {

    margin: 0px;

    font-family: 'Delicious Handrawn', monospace;
    color: rgb(240, 230, 217);

    background-color: blanchedalmond;

}


  
/*------------------------------------------------HEADER-----------------------------------------------------*/

header {

    height: fit-content;
    width: 100%;

    background-image: url('7a1b84b0d02802cca66d976556d8699d.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

}

/*--------------------OVERLAY-------------------*/

#overlay {

    background-color: rgba(0, 0, 0, 0.3);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

/*--------------------MENU----------------------*/

header nav {

    height: 100%; 
    width: 20%; 

}

#menu{

    background-color: rgba(255, 255, 255, 0.1);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    position: relative;

    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;

    height: fit-content;
}

#menu a{

    font-family: 'Alkatra', cursive;
    font-weight: bolder;
    font-size: calc(1vw + 1vh);
    text-align: center;
    text-transform: capitalize;
    font-style: normal;
    font-weight: lighter;

    margin-top: calc(.7vw + .7vh);
    margin-bottom: calc(.7vw + .7vh);

    padding: 1vw;

    border: 2px solid  rgba(243, 148, 172, 1);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

    position: relative;

    width:80%;
    height: fit-content

}

/*--------------------HEADER_TEXT----------------------*/

#header-text {

    position: absolute;
    top: 0;
    left: 0;
    right: 20%;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-family: '8BIT WONDER', sans-serif;
    align-items: flex-start;
    font-style: oblique;
    color: rgba(255, 241, 219, 0.747);
    text-align: center;
    line-height: normal;

}

#pre_title  {

    font-size: calc(1vh + 1vw);

}

#title  {

    font-size: calc(1.5vh + 2vw);


}

#post_title  {

    font-size: calc(.5vh + .8vw);


}

/*------------------------------------------------SECTION-----------------------------------------------------*/

section {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    height: auto;
    width: 100%;

}
   
/*--------------------TOPIC----------------------*/

#topic_container {

    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.topic {

    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    margin: 30px;

}

.topic img {

    height: 75%;
    width: 50%;

    display: inline-block;

    opacity: 50%;

}

.topic p {

    height: fit-content;
    width: 40%;

    text-align: start;
    color: black;
    text-transform: capitalize;
    font-size: 1.4vw;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-align: left;

}
.Game_name {

    font-size: 1.8vw;
    text-transform: capitalize;
    font-weight: 800;
    color: rgb(13, 0, 122);

}
/*----------------------NEWS-----------------------*/

#news-container {

    height: auto;
    width: 15%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    border-right: 1px dotted rgb(3, 24, 83);

    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    font-size: 1vw;
    text-align: center;
}

#news-container .news{

    background-color: rgba(243, 148, 172, 0.589);

    height: fit-content;
    width: 90%;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 10%;
    margin-left: -10%;

 
}

#news-container span {

    margin: 10px;
    left: 5%;

    position: relative;

    width: fit-content;
    height: fit-content;

    
}

#news-container h5 {

    margin: 5px;

    height: 20%;

}

#news-container .continue_reading {

    height: 20%;

    font-weight: bold;

    cursor: pointer;
    
}
/*--------------------------------------------------------FOOTER-----------------------------------------------------------*/

FOOTER {

    height: 20vw;
    width: 100%;

    background-color: rgba(9, 1, 78, 0.89);

    font-size: calc(.5vh + .8vw);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#info {
    display: flex;
    flex-direction: column;

    width: 25%;
    height: 100%;
}

#back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#author{
    height: 100%;
    width: 25%;

    text-align: center;
}

#info a{
    position: relative;
    top: 40%;
}
#back a {
    color: bisque;
    text-decoration: none;
    margin-left: 10%;
}

#author span {
    position: relative;
    bottom: -80%;
    right: -10%;
}
/*--------------------------------------------------------ANIMATION-----------------------------------------------------------*/

#news-container .news:hover {
    background-color: cornsilk;
    color: black;
    border: 1px dotted black;
}

#news-container .continue_reading:hover {
    border: 3px dotted black;
}

.topic:hover .Game_name {
    color: rgb(240, 123, 107);
}

.topic:hover img {
    opacity: 100%;
}


#menu a:hover {
    cursor: crosshair;
    color: rgb(255, 255, 255);
    border: 1px groove rgba(240, 123, 107, 0.89);
    background-color: rgba(255, 255, 255, 0.20);
}

#info a:hover {
    cursor: crosshair;
    color: rgb(255, 255, 255);
    border: 1px groove rgba(240, 123, 107, 0.89);
    background-color: rgba(255, 255, 255, 0.20);
}